# Bot
BOT_TOKEN=8738186091:AAEPT1nQdBj6_GZ2c5TZANNrbnoW-I_7ooo
BOT_NAME=Suhrob | HOUSE

# Database
DATABASE_URL=postgresql://postgres:miFxSAnQgeEqWOLIeoCLUwgFhebTqsrS@postgres.railway.internal:5432/railway
REDIS_URL=redis://default:ktBPJUGtftoTvZKNzIMAZfHlNbJgjzsc@redis.railway.internal:6379

# Developer Telegram ID
DEVELOPER_TELEGRAM_ID=7716923294

# Media
MEDIA_PATH=/var/suhrob_bot/media

# Logging
LOG_LEVEL=INFO

# Timezone
TIMEZONE=Asia/Tashkent
